section.section.also.also-bought
  .section-header 
    h4 People Who Bought This Item Also Bought 
  .section-content 
    ul
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image1", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 1
        .product-price $19.99
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image2", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 2
        .product-price $29.99
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image3", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 3 
        .product-price $22.99      
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image4", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 4
        .product-price $32.99
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image5", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 5
        .product-price $15.99
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image6", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 6 
        .product-price $9.99          
