section.section.also.also-viewed
  .section-header 
    h4 People Who Viewed This Item Also Viewed 
  .section-content 
    ul
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image1", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 1
        .product-price
          p $19.99
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image2", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 2
        .product-price
          p $29.99
      li
        a.thumbnail(href="#", target="_blank") 
          img(src="http://lorempixel.com/100/100/food/", alt="Image3", width="90", height="90")
        a.product-link(href="#", target="_blank")
          span.product-name Product 3 
        .product-price
          p $22.99      
