meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Kameleoon Test Project
meta(name='description', content='')
// Fullscreen on mobile
meta(name='HandheldFriendly', content='true')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='Misysboard')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
link(rel='icon', href='img/favicon.ico', type='x-icon')
link(rel='shortcut icon', href='img/favicon.ico', type='x-icon')
  
// meta OG
meta(name='og:description', content='Kameleoon offers efficient solutions in A/B Testing and Personalization for Web & Mobile. Over 300 customers improved their conversion rates with Kameleoon!')
meta(name='og:title', content='Kameleoon - A/B Testing and Web Personalization for Web & Mobile')
meta(name='og:image', content='http://www.kameleoon.com/img/home/AB-testing_iPad_Background.jpg')
meta(name='og:url', content='http://www.kameleoon.com')
meta(name='og:site_name', content='Kameleoon')
meta(name='og:type', content='website')  
